.header {
	z-index: 3;
	background: rgba(0, 0, 0, 1);
	top: 0;
	left: 0;
	width: 100%;

	position: fixed;

	&__body {
		display: fLex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		z-index: 3;
		height: 50px;
		width: 50px;
	}
	&__img {
		border-radius: 50%;
	}
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 10px 0;
	}
}

.menu-icon {
	display: none;

	@media (max-width: $md1) {
		span,
		&::before,
		&::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: scale(1) translate(0, -50%);
		}
		&::before,
		&::after {
			content: "";
		}
		&.menu--active span {
			transform: scale(0) translate(0, -50%);
		}
		&.menu--active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0, -50%);
		}

		&.menu--active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0, 50%);
		}
	}
	@media (max-width: $md2) {
		display: block;
		z-index: 2;
		position: relative;
		width: 38px;
		height: 28px;
		cursor: pointer;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	&__body {
		display: flex;
		align-items: center;

		@media (max-width: $md2) {
			flex-direction: column;
			position: fixed;
			top: -950px;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.9);
			padding: 80px 30px 30px 30px;
			transition: all 0.5s ease-out;
		}
	}
	&--active {
		@media (max-width: $md2) {
			top: 0px;
		}
	}
	&__button {
	}
	&__contact {
		margin-right: 50px;
		@media (max-width: $md2) {
			align-items: center;
			margin-bottom: 20px;
			margin-right: 0;
		}
	}
	&__list {
		display: flex;
		gap: 30px;
		margin-right: 50px;
		@media (max-width: $md2) {
			flex-direction: column;
			align-items: center;
			margin: 0;
			margin-bottom: 60px;
		}
	}

	&__link {
		font-weight: bold;

		&:hover {
			color: #ff7400;
			transition: color 0.3s ease-out;
		}
	}
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__body {
		display: flex;
	}
	&__description {
		line-height: 16px;
	}

	&__description-link {
	}

	&__image {
		padding-right: 8px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 20px;
		height: 20px;
	}

	&__number {
	}

	&__number-link {
		font-size: 18px;
		font-weight: bold;

		&:hover {
			color: #ff7400;
			transition: color 0.3s ease-out;
		}
	}
}
