.story {
	padding-top: 150px;
	padding-bottom: 182px;
	@media (max-width: $md2) {
		padding-top: 75px;
		padding-bottom: 75px;
	}
	&__body {
		display: flex;
		justify-content: space-evenly;
		gap: 3%;
		@media (max-width: $md2) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__content {
		flex: 1 0 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		@media (max-width: $md2) {
			width: fit-content;
		}
	}

	&__list {
		width: 100%;
		font-family: "Open sans", sans-serif;
		font-weight: 300;
		@media (max-width: $md2) {
			margin-bottom: 45px;
		}
		@media (max-width: $md3) {
			flex-direction: column;
		}
	}

	&__text {
		font-size: 20px;
		font-family: "Open sans", sans-serif;
		text-align: justify;
		color: #656363;
	}
	&__title {
	}
	&__image {
		flex: 1 0 47%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
		}
	}
}

.story-item {
	flex: 0 0 25%;
	text-align: center;
	&__number {
		font-size: 40px;
		color: #d67e34;
	}
	&__text {
		font-size: 20px;
	}
}
